## more infomations, see https://github.com/kamipo/etcfiles/blob/master/etc/my.cnf

[mysqld]
user               = mysql
pid_file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
log_error       = /var/log/mysql/error.log
#general_log      = ON
#general-log-file = /dev/stdout
#general_log_file = /var/log/mysql/server.log

port            = 3306
bind_address    = 0.0.0.0
skip_name_resolve
character_set_server = utf8mb4
collation_server     = utf8mb4_0900_bin
transaction_isolation = READ-COMMITTED

## gtid
gtid_mode = on
enforce_gtid_consistency = on

## binary log
log_bin = binlog
sync_binlog = 1
binlog_expire_logs_seconds = 864000

## replication
server_id = 1
#read_only = on

## group replication
#loose-group_replication_group_name = "5f0e506a-58f3-4256-ba8b-78101b3b3b39"
#loose-group_replication_start_on_boot = off
#loose-group_replication_local_address = "127.0.0.1:24901"
#loose-group_replication_group_seeds = "127.0.0.1:24901"
#loose-group_replication_bootstrap_group = off
#loose-group_replication_single_primary_mode = on
report_host = "127.0.0.1"
