## more infomations, see https://github.com/kamipo/etcfiles/blob/master/etc/my.cnf

[mysqld_safe]
## from apt-get package default
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock


[mysqld]
## from apt-get package default
user = mysql
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
basedir    = /usr
datadir    = /var/lib/mysql
tmpdir   = /tmp
log-error    = /var/log/mysql/error.log

port = 3306
bind-address = 0.0.0.0
skip-name-resolve
# datadir = /data
# tmpdir = /tmp
character-set-server = utf8mb4
collation_server = utf8mb4_ja_0900_as_cs_ks
# collation_server = utf8mb4_0900_bin
# collation_server = utf8mb4_ja_0900_as_cs
transaction-isolation = READ-COMMITTED

# default_password_lifetime = 0

## https://dev.mysql.com/doc/refman/8.0/en/sql-mode.html

## gtid
gtid_mode = on
enforce_gtid_consistency = on

## binary log
log-bin = mysql-bin
sync_binlog = 1
binlog_expire_logs_seconds = 864000
binlog_checksum=NONE

## replication
server_id = 1
#read_only = on

## group replication
#loose-group_replication_group_name = "5f0e506a-58f3-4256-ba8b-78101b3b3b39"
#loose-group_replication_start_on_boot = off
#loose-group_replication_local_address = "127.0.0.1:24901"
#loose-group_replication_group_seeds = "127.0.0.1:24901"
#loose-group_replication_bootstrap_group = off
#loose-group_replication_single_primary_mode = on
report-host = "127.0.0.1"
