## more infomations, see https://github.com/kamipo/etcfiles/blob/master/etc/my.cnf

[mysqld_safe]
## from apt-get package default
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock


[mysqld]
## from apt-get package default
user = mysql
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
basedir    = /usr
datadir    = /var/lib/mysql
tmpdir   = /tmp
log-error    = /var/log/mysql/error.log

port = 3306
bind-address = 0.0.0.0
# datadir = /data
# tmpdir = /tmp
character-set-server = utf8mb4
collation_server = utf8mb4_ja_0900_as_cs_ks
# collation_server = utf8mb4_ja_0900_as_cs
transaction-isolation = READ-COMMITTED

## https://dev.mysql.com/doc/refman/8.0/en/sql-mode.html

## gtid
gtid_mode = on
enforce_gtid_consistency = on

## binary log
log-bin = mysql-bin
sync_binlog = 1
binlog_expire_logs_seconds = 864000

## replication
server_id = 1
log_slave_updates
#read_only = on

# default_password_lifetime = 0
